@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-green: #00b289;
    --clr-green-hover: #019673;
    --clr-gray: #4c4d5f;
    --clr-orange: #f8db62;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

@keyframes DropMenu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ShowMenu {
    animation: DropMenu 0.5s forwards;
}

@layer components {
    .button-one {
        --clr-green: #00b289;
        @apply bg-white p-2 rounded mr-3 hover:bg-[--clr-green] hover:text-white border-[--clr-green] border transition-all duration-300 text-[--clr-green] text-sm font-medium px-6 py-2;
    }

    .button-second {
        @apply bg-[--clr-green] rounded  hover:bg-[--clr-green-hover]  transition-all duration-300 text-white text-sm font-medium px-6 py-[9px];
    }

    /* .drop-menu-head {
        @apply group cursor-pointer;
    }

    .drop-menu-body {
        @apply invisible group-hover:visible z-50 bg-gray-100 text-gray-800 shadow-xl absolute p-3;
    } */
}

@layer utilities {
    .bg-clip-path {
        clip-path: polygon(19% 0, 100% 0, 100% 30%, 50% 56%);
    }
}
