@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-green: #00b289;
    --clr-gray: #4c4d5f;
    --clr-orange: #f8db62;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes DropMenu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ShowMenu {
    animation: DropMenu 0.5s forwards;
}

@layer components {
    .button-one {
        @apply bg-green-500 p-2 rounded-md mr-1 hover:bg-white border-green-500 border-4 transition-all duration-300;
    }

    .button-second {
        @apply bg-white p-2 rounded-md mr-1 hover:bg-green-500 border-green-500 border-4 transition-all duration-300;
    }

    /* .drop-menu-head {
        @apply group cursor-pointer;
    }

    .drop-menu-body {
        @apply invisible group-hover:visible z-50 bg-gray-100 text-gray-800 shadow-xl absolute p-3;
    } */
}
