@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-green: #00b289;
    --clr-green-hover: #019673;
    --clr-gray: #4c4d5f;
    --clr-orange: #f8db62;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

@keyframes DropMenu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ShowMenu {
    animation: DropMenu 0.5s forwards;
}

@layer components {
    .button-one {
        --clr-green: #00b289;
        @apply bg-white p-2 rounded mr-3 hover:bg-[--clr-green] hover:text-white border-[--clr-green] border transition-all duration-300 text-[--clr-green] text-sm font-medium px-6 py-2;
    }

    .button-second {
        @apply bg-[--clr-green] rounded  hover:bg-[--clr-green-hover]  transition-all duration-300 text-white text-sm font-medium px-6 py-[9px];
    }

    .main-card {
        @apply border rounded px-10 py-16 w-fit min-h-full text-[--clr-gray] flex flex-col shadow-2xl flex-wrap;
    }

    .main-card h2 {
        @apply text-2xl font-bold;
    }

    .main-card p {
        @apply font-light text-sm my-2;
    }

    .main-card div {
        @apply border-b-2 border-[--clr-green] mt-4 mb-10;
    }

    .main-card div bold {
        @apply text-6xl font-bold mx-2;
    }

    .main-card div span:first-child {
        @apply text-2xl float-start;
    }

    .main-card div span:last-child {
        @apply text-2xl;
    }

    .main-card ul {
        @apply mb-6;
    }

    .main-card ul li {
        @apply tracking-wider mb-5 before:content-["✅"] before:mr-2;
    }

    .main-card button {
        @apply w-full mt-auto bg-[--clr-green] text-white py-4 rounded;
    }

    /* .drop-menu-head {
        @apply group cursor-pointer;
    }

    .drop-menu-body {
        @apply invisible group-hover:visible z-50 bg-gray-100 text-gray-800 shadow-xl absolute p-3;
    } */
}
